*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    }
    

    .header{
    width: 20%;
    background-color: rgb(226, 185, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70%;
    
    }

    .header a{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .txtHeader{
    color: aqua;
    text-decoration: aquamarine;
    }
    .txtHeader:hover{
    transition: font-size 1s linear ;
    color: brown;
    font-size: 50px ;
    }

    .tarjeta{
    width: 70%;
    height: 40%;
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    }
    .tarjeta img{
    height: 80%;
    width: 80%;
    }
    
    .D{
    width: 100%;
    background-color: rgb(175, 117, 141);
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .D a{
        color: black;
        background-color: bisque;
        border-radius: 5%;
        padding: 1%;
        position: absolute;
        text-decoration: none;
        align-items: center;
        }
    
    .C{
    width: 100%;
    background-color: rgb(0, 143, 199);
    display: flex;
    height: 40%;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    }

    .Superior{
        width: 80%;
    }
    
    .A{
    width: 100%;
    background-color: rgb(131, 131, 131);
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    }

    .E a{
    color: black;
    background-color: bisque;
    border-radius: 5%;
    padding: 1%;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    transition: font-size 2s linear ;
    color: brown;
    font-size: 20px ;
    }

    .E a:hover{
    transform: rotate(360deg);
    transition: background-color 1s ease-out, transform 1s linear;
    }
